# Plivo — nur nötig wenn Anrufe genutzt werden
PLIVO_AUTH_ID=
PLIVO_AUTH_TOKEN=
PLIVO_PHONE_NUMBER=

# Plivo Browser-Endpoints (einen pro Nutzer anlegen)
PLIVO_USER_TYRONE=
PLIVO_PASS_TYRONE=
PLIVO_USER_KEVIN=
PLIVO_PASS_KEVIN=
PLIVO_USER_MARC=
PLIVO_PASS_MARC=
PLIVO_USER_TIMO=
PLIVO_PASS_TIMO=
